<%= form_for(@playdate) do |f| %>
  <% if @playdate.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@playdate.errors.count, "error") %> prohibited this playdate from being saved:</h2>

      <ul>
      <% @playdate.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :location %><br>
    <%= f.text_field :location %>
  </div>
  <div class="field">
  <label>Who's Invited?</label><br>
  <%= f.collection_check_boxes :kid_ids, Kid.all, :id, :name %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
