<h1>Sign Up!</h1>
<%= form_tag registrations_path do %>
  <div class="">
    <%= label_tag :name %>
    <%= text_field_tag :name %>
  </div>
  <div class="">
    <%= label_tag :username %>
    <%= text_field_tag :username %>
  </div>
   <div class="field">
  <%= radio_button_tag :gender, 'Mom' %> 
  <%= label_tag :gender, 'Mom', :value => 'Mom' %>
  <%= radio_button_tag :gender, 'Dad' %>
  <%= label_tag :gender, 'Dad', :value => 'Dad' %>
  </div>
  <div class="">
    <%= label_tag :password %>
    <%= password_field_tag :password %>
  </div>
  <div class="">
    <%= label_tag :password_confirmation %>
    <%= password_field_tag :password_confirmation %>
  </div>
  <%= submit_tag "Sign up!" %>
<% end %>
